TALKING_PETS_UI_LANGUAGE="en"
TALKING_PETS_TTS="auto"
TALKING_PETS_VOICEVOX_URL="http://127.0.0.1:50021"
TALKING_PETS_VOICEVOX_SPEAKER="3"
TALKING_PETS_VOICEBOX_MODE="voicevox"
TALKING_PETS_KOKORO_VOICE="af_heart"
TALKING_PETS_IRODORI_URL="http://127.0.0.1:8088"
TALKING_PETS_IRODORI_VOICE="none"
TALKING_PETS_SAY_VOICE="Kyoko"
TALKING_PETS_LANGUAGE_ROUTE="1"
TALKING_PETS_SPEECH_LANGUAGE="auto"
